body {
    font-family: 'Poppins', sans-serif;
    margin: 16px 0px;
}

.menu-mobile {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
}

#main-principal {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    flex-wrap: wrap;
}

#main-section-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
    width: 35%;
}

#main-name-article {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin: 16px 0px;
    padding: 0 0;
}

#main-price-article {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #1D1D1D;
}

#main-sizes {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

#sizes-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1D;
}

#sizes-select {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
}

.size:hover {
    cursor: pointer;
}

.size-selected {
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #1D1D1D;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1D;
}

.size-inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1D;
}

#main-section-images {
    width: 65%;
    box-sizing: border-box;
}

#main-buttons-actions {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 4px;
    outline: none;
    border: none;
    height: 56px;
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
}

#btn-add-cart {
    background: #1D1D1D;
}

#btn-buy-now {
    background: #4276FB;
}

#main-text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #1D1D1D;
}

#main-link-sizing {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #1D1D1D;
    margin: 40px 0;
}

#nav-link{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}
.list{
    display: inline-block;
    padding: 20px;
}
.link{
    text-decoration: none;
    color: black;
}
#logo{
    font-family: Vegan Style Personal Use;
    color: #FF4C13;
    font-size: 40px;
}
#container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
#contenedor-2{
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box;
}
#contendor-1{
    width: 30%;
    padding-right: 40px;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.img-big{
    width: 100%;
    height: 900px;
    object-fit: cover;
}
.img-small{
    width: 50%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
    margin-left: 25%;
}

#footer{
    display: flex;
    flex-direction: column;
    position: sticky;
}

.img-cover-footer {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.prince{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color:rgba(29, 29, 29, 1);
    justify-content: center;
    align-items: center;
}

#title-prince{
    color:rgba(255, 76, 19, 1);
    font-size: 25px;
    font-family: 'Vegan Style Personal Use', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 30px;
}

#icon-face{
    width: 18px;
    height: 18px;
}

#icon-play{
    width: 18px;
    height: 18px;
}

.tab {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.li-footer {
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#list-title {
    text-align: center;
}

#imagenes-opcion {
    display: flex;
    flex-direction: row;
}

.img-list {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.contenedor-product-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title-list {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin: 12px 0;
}

.contenedor-product-list:hover {
    cursor: pointer;
}

.prev, .next {
    display: none;
}

/* Modal styles */
.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .modal {
    position: absolute;
    width: 460px;
    height: 100vh;
    left: 78%;
    top: 0px;
    background: #ffffff;
    transition: transform 0.7s;
    transform: translateY(0);
    box-sizing: border-box;
  }
  
  .modal-close {
    transform: translateY(-200%);
  }
  
  .close {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 400px;
    top: 50px;
    cursor: pointer;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    position: absolute;
    width: 250px;
    height: 100px;
    left: 45px;
    top: 100px;
  }
  
  .item img {
    position: static;
    width: 115px;
    height: 115px;
    left: 0;
    top: 0;
    flex: none;
    margin: 0px 16px;
  }
  
  .image-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    position: static;
    width: 128px;
    height: 112px;
    left: 130px;
    top: 2px;
  }
  
  .remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;  
    position: absolute;
    width: 80px;
    height: 80px;
    left: 340px;
    top: 100px;
  }
  
  .remove :first-child {
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  .p1 {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 40px;
    top: 340px;
    font-family: "Poppins";  
    font-size: 20px;
    line-height: 24px;
    color: #1d1d1d;
  }
  
  .p2 {
    position: absolute;
    width: 70px;
    height: 24px;
    left: 360px;
    top: 340px;
    font-family: 'Poppins';  
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1d1d1d;
  }
  
  .p3 {
    position: absolute;
    width: 380px;
    height: 24px;
    left: 40px;
    top: 418px;
    font-family: 'Poppins';  
    font-size: 12px;
    line-height: 24px;
    color: #4a4a4a;
  }
  
  .btn-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    position: absolute;
    width: 380px;
    height: 56px;
    left: 40px;
    top: 458px;
    background: #4276fb;
    border: 4px solid #4276fb;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .modal h3 {
    position: absolute;
    width: 380px;
    height: 48px;
    left: 40px;
    top: 550px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #1d1d1d;
  }
  
/* End Modal Styles */


@media (max-width: 650px) {
    #nav-link{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        margin-top: 25px;
    }

    #contenedor-1{
        display: none;
    }

    .img-small{
        display: none;
    }

    #main-section-details {
        width: 100%;
    }

    #contenedor-2 {
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    .img-big{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

}

@media (max-width: 420px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        height: 56px;
        background: #1D1D1D;
        margin: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        color: #4276FB;
    }

    .img-menu-mobile {
        margin-right: 10px;
    }

    .menu-mobile:hover {
        cursor: pointer;
    }
}